.leaflet-container {
  width: 800px;
  height: 650px;
}

#main-content {
  padding-top: 10px;
}

#title {
  padding-top: 15px;
  /*padding-left: 40px;*/
  text-align: center;
  font-size: 2.5em;
  text-shadow: 2px 2px #8FD1C6;
  font-family: Helvetica;
}

.ui .segment {
  width: 190px;
  display: inline-block;
}