<div class="ui grid">
  <div class="twelve wide centered column">
    <div class="ui grid">
      <div class="four wide column">
        {{input}}
      </div>
      <div class="ten wide column">
        <div id='map'></div>
      </div>
    </div>
  </div>
  
</div>


